In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
path = 'AskingApprentices.csv'
ask_app = pd.read_csv(path)

In [5]:
#First five rows
ask_app.head()

,Timestamp,What's your name?,What is your Starsign?,What's your favorite Lady Gaga song?,If you were a Pokemon type would you be?,"If you were one of the Adobe Suite, which one would you be?",Who is your favorite Mario character?
0,2022/11/16 1:58:55 PM GMT,Jana,Pisces,Born This Way,Water,Illustrator,Bowser
1,2022/11/16 1:59:02 PM GMT,Rocio,Aquarius,Born This Way,Psychic,After Effects,Yoshi
2,2022/11/16 2:00:05 PM GMT,Shi Shi,Aquarius,Born This Way,Water,Illustrator,Mario
3,2022/11/16 2:07:40 PM GMT,Tilly,Gemini,Telephone,Fire,InDesign,Princess Peach
4,2022/11/16 2:11:15 PM GMT,Jasmine,Aries,Alejandro,Psychic,Photoshop,Yoshi

In [6]:
#Data within secific rows (row 8 to row 12)
ask_app[8:13]

,Timestamp,What's your name?,What is your Starsign?,What's your favorite Lady Gaga song?,If you were a Pokemon type would you be?,"If you were one of the Adobe Suite, which one would you be?",Who is your favorite Mario character?
8,2022/11/16 8:38:26 PM GMT,Adele,Aquarius,Poker Face,Dragon,Illustrator,Luigi
9,2022/11/17 2:03:30 PM GMT,Beth,Sagittarius,Bad Romance,Electric,Photoshop,Bowser
10,2022/11/17 2:25:20 PM GMT,Kat,Cancer,Bad Romance,Electric,After Effects,Toad
11,2022/11/18 12:02:24 PM GMT,Dara,Gemini,Bad Romance,Water,Illustrator,Princess Peach
12,2022/11/18 1:53:33 PM GMT,Ning Wei,Sagittarius,Poker Face,Ice,Premiere Pro,Mario

In [7]:
#Just the headers
ask_app.columns

Index(['Timestamp', 'What's your name?', 'What is your Starsign?',
       'What's your favorite Lady Gaga song?',
       'If you were a Pokemon type would you be?',
       'If you were one of the Adobe Suite, which one would you be?',
       'Who is your favorite Mario character?'],
      dtype='object')

In [8]:
#Shows the whole DataFrame
display(ask_app)

,Timestamp,What's your name?,What is your Starsign?,What's your favorite Lady Gaga song?,If you were a Pokemon type would you be?,"If you were one of the Adobe Suite, which one would you be?",Who is your favorite Mario character?
0,2022/11/16 1:58:55 PM GMT,Jana,Pisces,Born This Way,Water,Illustrator,Bowser
1,2022/11/16 1:59:02 PM GMT,Rocio,Aquarius,Born This Way,Psychic,After Effects,Yoshi
2,2022/11/16 2:00:05 PM GMT,Shi Shi,Aquarius,Born This Way,Water,Illustrator,Mario
3,2022/11/16 2:07:40 PM GMT,Tilly,Gemini,Telephone,Fire,InDesign,Princess Peach
4,2022/11/16 2:11:15 PM GMT,Jasmine,Aries,Alejandro,Psychic,Photoshop,Yoshi
5,2022/11/16 2:28:35 PM GMT,Jiaze Li,Taurus,Bad Romance,Fire,Photoshop,Princess Peach
6,2022/11/16 5:08:54 PM GMT,Jade,Capricorn,Paparazzi,Ice,Illustrator,Rosalina
7,2022/11/16 5:43:52 PM GMT,Wen,Pisces,Born This Way,Electric,InDesign,Mario
8,2022/11/16 8:38:26 PM GMT,Adele,Aquarius,Poker Face,Dragon,Illustrator,Luigi
9,2022/11/17 2:03:30 PM GMT,Beth,Sagittarius,Bad Romance,Electric,Photoshop,Bowser
10,2022/11/17 2:25:20 PM GMT,Kat,Cancer,Bad Romance,Electric,After Effects,Toad
11,2022/11/18 12:02:24 PM GMT,Dara,Gemini,Bad Romance,Water,Illustrator,Princess Peach
12,2022/11/18 1:53:33 PM GMT,Ning Wei,Sagittarius,Poker Face,Ice,Premiere Pro,Mario

In [9]:
#Can't use dot notation because my header has spaces
ask_app["What's your name?"]

0         Jana
1        Rocio
2      Shi Shi
3        Tilly
4      Jasmine
5     Jiaze Li
6         Jade
7          Wen
8        Adele
9         Beth
10         Kat
11        Dara
12    Ning Wei
Name: What's your name?, dtype: object

In [10]:
#Getting all the answers by Kat
ask_app.loc[ask_app["What's your name?"] == 'Kat']

,Timestamp,What's your name?,What is your Starsign?,What's your favorite Lady Gaga song?,If you were a Pokemon type would you be?,"If you were one of the Adobe Suite, which one would you be?",Who is your favorite Mario character?
10,2022/11/17 2:25:20 PM GMT,Kat,Cancer,Bad Romance,Electric,After Effects,Toad

In [11]:
#Locating apprentices who have Aquarius starsign
aquarius = ask_app.loc[ask_app["What is your Starsign?"] == 'Aquarius', "What's your name?"]
print(aquarius)

1      Rocio
2    Shi Shi
8      Adele
Name: What's your name?, dtype: object

In [12]:
#Locating apprectices who are Earth signs (Capricorn, Taurus, Virgo)
earth_signs = ask_app.loc[ask_app["What is your Starsign?"] == 'Capricorn' + 'Taurus' + 'Virgo', "What's your name?"]
print(earth_signs)

Series([], Name: What's your name?, dtype: object)

In [13]:
ask_app["What is your Starsign?"]

0          Pisces
1        Aquarius
2        Aquarius
3          Gemini
4           Aries
5          Taurus
6       Capricorn
7          Pisces
8        Aquarius
9     Sagittarius
10         Cancer
11         Gemini
12    Sagittarius
Name: What is your Starsign?, dtype: object

In [14]:
print(ask_app["What is your Starsign?"].unique())

['Pisces' 'Aquarius' 'Gemini' 'Aries' 'Taurus' 'Capricorn' 'Sagittarius'
 'Cancer']

In [15]:
#Should have asked some questions with number answers so I could practice median and histograms, my bad!
type_groupings = ask_app.groupby("If you were a Pokemon type would you be?")
type_groupings["If you were a Pokemon type would you be?"].median()

TypeError: could not convert string to float: 'Dragon'

In [36]:
#Most people would choose Electric or Water pokemon type
type_groupings["If you were a Pokemon type would you be?"].describe()

                                         count unique       top freq
If you were a Pokemon type would you be?
Dragon                                       1      1    Dragon    1
Electric                                     3      1  Electric    3
Fire                                         2      1      Fire    2
Ice                                          2      1       Ice    2
Psychic                                      2      1   Psychic    2
Water                                        3      1     Water    3

In [38]:
ask_app["If you were one of the Adobe Suite, which one would you be?"].unique()

array(['Illustrator', 'After Effects', 'InDesign', 'Photoshop',
       'Premiere Pro'], dtype=object)

In [18]:
ask_app["If you were one of the Adobe Suite, which one would you be?"]

0       Illustrator
1     After Effects
2       Illustrator
3          InDesign
4         Photoshop
5         Photoshop
6       Illustrator
7          InDesign
8       Illustrator
9         Photoshop
10    After Effects
11      Illustrator
12     Premiere Pro
Name: If you were one of the Adobe Suite, which one would you be?, dtype: object

In [20]:
ask_app["If you were one of the Adobe Suite, which one would you be?"]

'After Effects'

In [21]:
illustrator = ask_app[[x for x in ask_app["If you were one of the Adobe Suite, which one would you be?"] == 'Illustrator']]

In [22]:
#Those who pick Illustrator also tend to choose water pokemon type, also more often Aquarius, likes Born This Way
illustrator

,Timestamp,What's your name?,What is your Starsign?,What's your favorite Lady Gaga song?,If you were a Pokemon type would you be?,"If you were one of the Adobe Suite, which one would you be?",Who is your favorite Mario character?
0,2022/11/16 1:58:55 PM GMT,Jana,Pisces,Born This Way,Water,Illustrator,Bowser
2,2022/11/16 2:00:05 PM GMT,Shi Shi,Aquarius,Born This Way,Water,Illustrator,Mario
6,2022/11/16 5:08:54 PM GMT,Jade,Capricorn,Paparazzi,Ice,Illustrator,Rosalina
8,2022/11/16 8:38:26 PM GMT,Adele,Aquarius,Poker Face,Dragon,Illustrator,Luigi
11,2022/11/18 12:02:24 PM GMT,Dara,Gemini,Bad Romance,Water,Illustrator,Princess Peach

In [29]:
#Turning headers into variable names
name = ask_app["What's your name?"]
mario_characters = ask_app["Who is your favorite Mario character?"]
print(name)
print(mario_characters)

0         Jana
1        Rocio
2      Shi Shi
3        Tilly
4      Jasmine
5     Jiaze Li
6         Jade
7          Wen
8        Adele
9         Beth
10         Kat
11        Dara
12    Ning Wei
Name: What's your name?, dtype: object
0             Bowser
1              Yoshi
2              Mario
3     Princess Peach
4              Yoshi
5     Princess Peach
6           Rosalina
7              Mario
8              Luigi
9             Bowser
10              Toad
11    Princess Peach
12             Mario
Name: Who is your favorite Mario character?, dtype: object

In [34]:
#Making a list of names and what mario character they chose using list comprehension
everyones_mario_characters = [name + "," + " " + mario_characters for name,mario_characters in zip(name, mario_characters)]
print(everyones_mario_characters)

['Jana, Bowser', 'Rocio, Yoshi', 'Shi Shi, Mario', 'Tilly, Princess Peach', 'Jasmine, Yoshi', 'Jiaze Li, Princess Peach', 'Jade, Rosalina', 'Wen, Mario', 'Adele, Luigi', 'Beth, Bowser', 'Kat, Toad', 'Dara, Princess Peach', 'Ning Wei, Mario']