In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
path = 'AskingApprentices.csv'
ask_app = pd.read_csv(path)

In [4]:
#First five rows
ask_app.head()

      name  starsign      gaga_song  pokemon          adobe           mario
0     Jana    Pisces  Born This Way    Water    Illustrator          Bowser
1    Rocio  Aquarius  Born This Way  Psychic  After Effects           Yoshi
2  Shi Shi  Aquarius  Born This Way    Water    Illustrator           Mario
3    Tilly    Gemini      Telephone     Fire       InDesign  Princess Peach
4  Jasmine     Aries      Alejandro  Psychic      Photoshop           Yoshi

In [5]:
#Data within secific rows (row 8 to row 12)
ask_app[8:13]

,name,starsign,gaga_song,pokemon,adobe,mario
8,Adele,Aquarius,Poker Face,Dragon,Illustrator,Luigi
9,Beth,Sagittarius,Bad Romance,Electric,Photoshop,Bowser
10,Kat,Cancer,Bad Romance,Electric,After Effects,Toad
11,Dara,Gemini,Bad Romance,Water,Illustrator,Princess Peach
12,Ning Wei,Sagittarius,Poker Face,Ice,Premiere Pro,Mario

In [6]:
#Just the headers
ask_app.columns

Index(['name', 'starsign', 'gaga_song', 'pokemon', 'adobe', 'mario'], dtype='object')

In [7]:
#Shows the whole DataFrame
display(ask_app)

,name,starsign,gaga_song,pokemon,adobe,mario
0,Jana,Pisces,Born This Way,Water,Illustrator,Bowser
1,Rocio,Aquarius,Born This Way,Psychic,After Effects,Yoshi
2,Shi Shi,Aquarius,Born This Way,Water,Illustrator,Mario
3,Tilly,Gemini,Telephone,Fire,InDesign,Princess Peach
4,Jasmine,Aries,Alejandro,Psychic,Photoshop,Yoshi
5,Jiaze Li,Taurus,Bad Romance,Fire,Photoshop,Princess Peach
6,Jade,Capricorn,Paparazzi,Ice,Illustrator,Rosalina
7,Wen,Pisces,Born This Way,Electric,InDesign,Mario
8,Adele,Aquarius,Poker Face,Dragon,Illustrator,Luigi
9,Beth,Sagittarius,Bad Romance,Electric,Photoshop,Bowser
10,Kat,Cancer,Bad Romance,Electric,After Effects,Toad
11,Dara,Gemini,Bad Romance,Water,Illustrator,Princess Peach
12,Ning Wei,Sagittarius,Poker Face,Ice,Premiere Pro,Mario

In [8]:
#Can't use dot notation because my header has spaces
ask_app.name

0         Jana
1        Rocio
2      Shi Shi
3        Tilly
4      Jasmine
5     Jiaze Li
6         Jade
7          Wen
8        Adele
9         Beth
10         Kat
11        Dara
12    Ning Wei
Name: name, dtype: object

In [10]:
#Getting all the answers by Kat
ask_app.loc[ask_app.name == 'Kat']

   name starsign    gaga_song   pokemon          adobe mario
10  Kat   Cancer  Bad Romance  Electric  After Effects  Toad

In [12]:
#Locating names of those with aquarius starsign
aquarius = ask_app.loc[ask_app.starsign == 'Aquarius', 'name']
print(aquarius)

1      Rocio
2    Shi Shi
8      Adele
Name: name, dtype: object

In [15]:
#Locating apprectices who are Earth signs (Capricorn, Taurus, Virgo)
earth_signs = ask_app.loc[ask_app.starsign == 'Capricorn' + 'Taurus' + 'Virgo', 'name']
print(earth_signs)

Series([], Name: name, dtype: object)

In [16]:
ask_app.starsign

0          Pisces
1        Aquarius
2        Aquarius
3          Gemini
4           Aries
5          Taurus
6       Capricorn
7          Pisces
8        Aquarius
9     Sagittarius
10         Cancer
11         Gemini
12    Sagittarius
Name: starsign, dtype: object

In [17]:
print(ask_app.starsign.unique())

['Pisces' 'Aquarius' 'Gemini' 'Aries' 'Taurus' 'Capricorn' 'Sagittarius'
 'Cancer']

In [20]:
#Should have asked some questions with number answers so I could practice median and histograms, my bad!
type_groupings = ask_app.groupby('pokemon')
#type_groupings.pokemon.median()
print(type_groupings)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023930925B50>

In [21]:
#Most people would choose Electric or Water pokemon type
type_groupings.pokemon.describe()

         count unique       top freq
pokemon
Dragon       1      1    Dragon    1
Electric     3      1  Electric    3
Fire         2      1      Fire    2
Ice          2      1       Ice    2
Psychic      2      1   Psychic    2
Water        3      1     Water    3

In [22]:
ask_app.adobe.unique()

array(['Illustrator', 'After Effects', 'InDesign', 'Photoshop',
       'Premiere Pro'], dtype=object)

In [23]:
ask_app.adobe

0       Illustrator
1     After Effects
2       Illustrator
3          InDesign
4         Photoshop
5         Photoshop
6       Illustrator
7          InDesign
8       Illustrator
9         Photoshop
10    After Effects
11      Illustrator
12     Premiere Pro
Name: adobe, dtype: object

In [25]:
illustrator = ask_app[[x for x in ask_app.adobe == 'Illustrator']]

In [22]:
#Those who pick Illustrator also tend to choose water pokemon type, also more often Aquarius, likes Born This Way
illustrator

,Timestamp,What's your name?,What is your Starsign?,What's your favorite Lady Gaga song?,If you were a Pokemon type would you be?,"If you were one of the Adobe Suite, which one would you be?",Who is your favorite Mario character?
0,2022/11/16 1:58:55 PM GMT,Jana,Pisces,Born This Way,Water,Illustrator,Bowser
2,2022/11/16 2:00:05 PM GMT,Shi Shi,Aquarius,Born This Way,Water,Illustrator,Mario
6,2022/11/16 5:08:54 PM GMT,Jade,Capricorn,Paparazzi,Ice,Illustrator,Rosalina
8,2022/11/16 8:38:26 PM GMT,Adele,Aquarius,Poker Face,Dragon,Illustrator,Luigi
11,2022/11/18 12:02:24 PM GMT,Dara,Gemini,Bad Romance,Water,Illustrator,Princess Peach

In [29]:
#Turning headers into variable names
name = ask_app.name

print(name)

0         Jana
1        Rocio
2      Shi Shi
3        Tilly
4      Jasmine
5     Jiaze Li
6         Jade
7          Wen
8        Adele
9         Beth
10         Kat
11        Dara
12    Ning Wei
Name: name, dtype: object

In [28]:
mario_characters = ask_app.mario

print(mario_characters)

0             Bowser
1              Yoshi
2              Mario
3     Princess Peach
4              Yoshi
5     Princess Peach
6           Rosalina
7              Mario
8              Luigi
9             Bowser
10              Toad
11    Princess Peach
12             Mario
Name: mario, dtype: object

In [30]:
#Making a list of names and what mario character they chose using list comprehension
everyones_mario_characters = [name + "," + " " + mario_characters for name,mario_characters in zip(name, mario_characters)]
print(everyones_mario_characters)

['Jana, Bowser', 'Rocio, Yoshi', 'Shi Shi, Mario', 'Tilly, Princess Peach', 'Jasmine, Yoshi', 'Jiaze Li, Princess Peach', 'Jade, Rosalina', 'Wen, Mario', 'Adele, Luigi', 'Beth, Bowser', 'Kat, Toad', 'Dara, Princess Peach', 'Ning Wei, Mario']